<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="/favicon.png">
    <title>Converse AI</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Converse AI</h1>
    <h2>A smart conversation assister</h2>
    <br><br><br>
  </body>
  
  <center>
    <div class="box">
      <center>
        <div id="transcribed-text">Your spoken text will show up here...</div>
        <div class="button-container">
          <button id="start">Start Listening</button>
          <button id="stop">Stop Listening</button>
          <button id="clear">Clear Session</button>
        </div>
      </center>
    </div>
  </center>
  <br><br>
  <div id="devil">
    <button id="d">Devil Mode</button>
  </div>
  <a href="https://github.com/JoeBadstein/Converse-v14" target="_blank">Github</a>
</html>
